# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
venv/
.env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build files
build/
dist/

# Logs
*.log

# PyInstaller
*.spec

# Git
.git
